@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Inter", sans-serif;
}

body {
  position: relative;
}

.container {
  padding: 48px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
.link {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.click {
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.click:active {
  transform: scale(0.9);
}

select:focus-visible,
input:focus-visible {
  outline: none;
}

.logout__btn,
.user__icon,
.landing__btn {
  color: #242424;
}

.black {
  color: #242424;
}

.white {
  color: #fff;
}

/* 

NAV 

*/

nav {
  width: 100%;
  background-color: #9696fa;
  height: 100px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__header {
  text-align: center;
  font-size: 48px;
  padding: 24px;
  text-shadow: 4px 4px 0 #ffffff;
}

.nav__bar--links {
  margin-right: 36px;
  display: flex;
  align-items: center;
}

.nav__bar--link {
  font-size: 24px;
  margin-right: 24px;
  position: relative;
  font-weight: bold;
}

.nav__bar--link:after {
  position: absolute;
  content: "";
  background-color: #242424;
  bottom: -2px;
  right: 0;
  height: 3px;
  width: 0%;
  opacity: 1;
  transition: all 300ms ease;
}

.nav__bar--link:hover:after {
  left: 0;
  opacity: 1;
  width: 100%;
  cursor: pointer;
}

/* 

LANDING 

*/

#landing {
  min-height: 70vh;
  background-color: #fff;
}

.background__wrapper {
  position: relative;
  height: 100vh;
  z-index: -1;
}

.landing__content {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.landing__header {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__img--wrapper {
  width: 50%;
}

.landing__title {
  font-size: 48px;
  color: #242424;
  font-weight: bold;
}

.landing__para {
  color: #242424;
  font-size: 24px;
}

.landing__btn {
  font-size: 24px;
  padding: 4px 8px;
  margin: 24px 0 0;
  background-color: #9696fa;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 4px 4px 4px #242424;
}

.landing__btn:hover {
  background-color: #9696fa70;
  box-shadow: 8px 8px 8px #242424;
}

.landing__btn:active {
  background-color: #9696fa;
}

/*

ABOUT

*/

#about {
  background-color: #9696fa;
  position: relative;
}

.about__header {
  font-size: 40px;
  text-align: center;
}

.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about__para {
  text-indent: 40px;
  width: 40%;
  font-size: 23px;
  margin: 0 16px;
}

.about__img--wrapper {
  width: 25%;
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wave__img--wrapper {
  width: 100%;
  overflow: hidden;
}

.wave__img {
  background-color: #9696fa;
  width: 130%;
}

.wave__img--top {
  top: 0;
  transform: rotate(180deg);
}

.wave__img--bottom {
  bottom: 0;
}

/* 

ALL BARS 

*/
.filter__bar {
  background-color: #353535;
  height: fit-content;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar__container {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  min-height: 50vh;
}

.bar__list {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar__list--item {
  width: 100%;
  margin: 12px;
}

.bar__tile {
  border: 2px solid #d8d8d8;
  border-radius: 12px;
  transition: all 300ms ease;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #f5f5f5;
}

.bar__tile:hover {
  border-color: #2d2de3;
}

.bar__name {
  color: black;
  font-size: 24px;
}

.bar__header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bar__name--wrapper {
  width: 30%;
}

.bar__name--wrapper p {
  margin-top: 8px;
}

.bar__deal--wrapper {
  width: 50%;
  margin: 8px 8px 0 0;
}

.bar__deal--wrapper p {
  text-align: center;
}

.filter__btns--wrapper {
  display: flex;
  align-items: center;
}

.filter__btn {
  padding: 4px 6px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #f5f5f5;
  margin: 4px;
  width: fit-content;
  background-color: transparent;
  color: white;
}

.reset__btn {
  align-self: center;
}

.reset__btn:active {
  color: #2d2de3;
  background-color: #fff;
  transition: all 10ms ease;
}

.link:hover {
  cursor: default;
}

.borough__filter,
.neighborhood__filter {
  max-width: 50%;
  text-align: center;
}

.selected,
.clicked {
  background-color: white;
  color: #2d2de3;
}

.selected:hover,
.clicked:hover {
  cursor: default;
}

.travel-style__filter {
  display: flex;
}

.bar__tile--directions {
  margin-top: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.bar__info--wrapper {
  text-align: center;
  width: 20%;
}

.skeleton {
  background-color: #dddbdd;
  color: #dddbdd;
  background-size: 300%;
  position: relative;
  overflow: hidden;
}

.bar__tile--skeleton {
  width: 100%;
  height: 150px;
  border-radius: 24px;
  border: 2px solid #d8d8d8;
}

.skeleton:after {
  -webkit-animation: shimmer 1s infinite;
  animation: shimmer 1s infinite;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.2) 20%,
    hsla(0, 0%, 100%, 0.5) 60%,
    hsla(0, 0%, 100%, 0)
  );
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/*

BAR PAGE 

*/

#bar__page {
  padding: 0 48px;
}

.back__btn {
  background-color: transparent;
  margin: 0 0 32px;
  padding: 4px 8px;
  font-size: 24px;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
}

.back__btn:hover {
  border-color: #2d2de3;
}

.bar__title {
  font-size: 56px;
  transition: all 300ms ease;
}

.bar__title:hover {
  color: #2d2de3;
  cursor: pointer;
}

.hours__open {
  display: flex;
  margin-top: 36px;
  min-height: 80px;
}

.map__img {
  margin: 12px;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-radius: 24px;
}

.hours__open li {
  border: 2px solid #d8d8d8;
  width: calc(100% / 7);
  height: auto;
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

.bar__content--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hours__open li div {
  margin-top: 12px;
}

.day_of_week {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: -44px;
  left: 50%;
  transform: translateX(-50%);
}

.sustenance__deals {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sustenance__deals li {
  font-size: 24px;
  margin-top: 12px;
}

.sustenance__deals--disclaimer {
  font-size: 14px;
  margin-bottom: 24px;
  padding: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 12px;
  text-align: center;
}

.sustenance__deals--disclaimer h3 {
  text-align: center;
}

.menu__link {
  font-size: 24px;
  padding: 4px 6px;
  align-self: center;
  margin-top: 24px;
  background-color: #9696fa;
  border: 2px solid #242424;
  border-radius: 8px;
}

.menu__link:hover {
  border-color: hwb(240 18% 11%);
  background-color: #9696fa70;
}

.no-results__img--wrapper {
  margin: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-results__img--wrapper img {
  width: 40%;
}

.no-results__img--wrapper p {
  font-size: 20px;
  width: 40%;
}

.directions__wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.directions__content--wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.left__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.bar__page--directions {
  border: 2px solid #d8d8d8;
  padding: 4px 8px;
  margin-top: 8px;
  text-align: center;
  width: auto;
}

.bar__page--directions:hover {
  border-color: #2d2de3;
}

.directions__btns--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.directions__btns--wrapper button {
  padding: 4px 8px;
  background-color: transparent;
  border: 2px solid #2d2de3;
  border-radius: 8px;
}

.directions__btns--wrapper button:hover {
  background-color: #9696fa70;
}

/* 

MODAL 

*/

.user__icon {
  font-size: 24px;
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  width: 40vw;
  max-width: 400px;
  border: 2px solid black;
  background-color: #f5f5f5;
  z-index: 999;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  backdrop-filter: blur(5px);
}

.close__modal {
  font-size: 32px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
}

.modal__content {
  padding: 32px 16px 16px;
  display: flex;
  flex-direction: column;
}

.login__error--message {
  text-align: center;
  align-self: center;
  border: 2px solid red;
  background-color: #ff000030;
  padding: 8px;
  margin: 8px 0;
}

.modal__content h1 {
  text-align: center;
}

.modal__message {
  text-align: center;
  width: 60%;
  align-self: center;
}

.sign-up__form {
  margin: 24px 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up__form li {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form__item--label {
  font-size: 20px;
}

.form__item--input {
  border: none;
  background-color: inherit;
  border: 2px solid #d8d8d8;
  transition: all 300ms ease;
  height: 24px;
  margin: 4px 0;
}

.form__item--input:focus {
  border-color: #2d2de3;
}

.sign-up__form button {
  margin: 12px 0;
  font-size: 16px;
}

.register__btn,
.login__btn {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 6px;
  margin-right: 16px;
  border-radius: 4px;
  border: 2px solid white;
}

.login__btn:hover,
.register__btn:hover {
  box-shadow: 4px 4px 2px #242424;
  transform: translate(-2px, -2px) scale(1.04);
}

.login__btn {
  background-color: transparent;
}

.register__btn {
  background-color: #9696fa;
}

.user__modal {
  position: absolute;
  bottom: -72px;
  background-color: #fff;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border: 2px solid #d8d8d8;
  border-radius: 4px;
}

.user__icon--wrapper {
  position: relative;
}

.logout__btn {
  margin: 12px 0;
  padding: 8px 24px;
  width: max-content;
  border: none;
  background-color: inherit;
  font-size: 16px;
}

.logout__btn:hover {
  background-color: #9696fa70;
}

.modal__content button {
  font-size: 20px;
  background-color: #9696fa;
  color: white;
  padding: 4px 8px;
  border: 2px solid black;
  border-radius: 4px;
}

/* 

FOOTER 

*/

footer {
  background-color: #242424;
}

.footer__container {
  padding: 48px 0 24px;
}

.footer__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 300ms ease;
}

.footer__home {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  color: #73a24e;
  font-size: 24px;
  border: 2px solid #73a24e;
  padding: 4px 4px 4px 4px;
  background-color: transparent;
  transition: all 300ms ease;
  border-radius: 8px;
}

.footer__home--btn {
  position: absolute;
  left: 50px;
  opacity: 0;
  color: #008300;
}

.footer__home:hover {
  color: #008300;
  border-color: #008300;
  padding: 4px 88px 4px 4px;
  transform: translateX(-30%);
}

.footer__home:hover .footer__home--btn {
  opacity: 1;
  transition: 300ms ease;
  transition-delay: 300ms;
}

.footer__social--links {
  display: flex;
  margin: 24px 0;
}

.footer__item {
  margin: 0 24px;
  background-color: none;
}

.footer__social--logo {
  color: white;
}

.footer__social--link {
  font-size: 28px;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.116);
  border-radius: 999px;
  background-color: #9696fa;
}

.footer__social--link:hover {
  border-color: none;
  background-color: #2d2de3;
}

.footer__social--link:hover .footer__social--logo {
  color: white;
}

.footer__copyright {
  color: white;
}

.show_below_900px {
  visibility: hidden;
  position: fixed;
  opacity: 1;
  z-index: -10;
}

/*

RESPONSIVE SIZING

*/

/*

LARGE TABLETS 

*/

@media (max-width: 900px) {
  .show_above_900px {
    visibility: hidden;
    opacity: 0;
    position: fixed;
  }

  .show_below_900px {
    visibility: visible;
    position: relative;
    opacity: 1;
    z-index: 999;
    display: flex;
    justify-content: center;
  }

  .hours__open {
    width: 90%;
    margin-top: 0;
  }

  .hours__open li {
    height: 200px;
    width: 50px;
    border-radius: 12px;
  }

  .day_of_week {
    position: static;
    transform: translate(0);
  }
  .slider-btn {
    position: absolute;
    top: 50%;
    width: auto;
    border-radius: 999px;
    border: 2px solid #24242440;
    cursor: pointer;
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9696fa;
    transition: all 300ms ease;
    color: #fff;
  }

  .slider-btn:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 8px #24242440;
  }

  .slider-next-btn {
    right: -10px;
  }

  .slider-prev-btn {
    left: -10px;
  }

  .bar__content--wrapper {
    align-items: center;
  }

  .map__img {
    width: 300px;
    height: 300px;
  }

  .sustenance__deals--disclaimer {
    width: 100%;
    align-self: flex-end;
  }
}

/* 

TABLETS 

*/

@media (max-width: 700px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__header,
  .landing__title {
    font-size: 32px;
  }

  .nav__bar--link {
    font-size: 20px;
  }

  .user__icon {
    width: 40px;
    height: 40px;
  }

  .landing__para,
  .about__para,
  .bar__name {
    font-size: 16px;
  }

  .logout__btn {
    font-size: 14px;
  }

  .bar__name--wrapper p,
  .bar__deal--wrapper {
    font-size: 14px;
  }

  .title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bar__title {
    text-align: center;
  }

  .bar__tile--hours,
  .bar__info--wrapper p {
    font-size: 14px;
  }

  .bar__content--wrapper {
    flex-direction: column-reverse;
  }

  .bar__content--wrapper ul,
  .neighborhood__filter,
  .sustenance__deals--disclaimer {
    width: 100%;
    max-width: 100%;
  }

  .bar__page--content-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .menu__link {
    text-align: center;
    width: fit-content;
  }

  .map__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .map__img {
    width: 400px;
    height: 400px;
  }

  .sustenance__deals {
    margin-top: 12px;
  }

  .sustenance__deals li {
    font-size: 20px;
  }

  .title__wrapper {
    text-align: center;
  }

  .left__wrapper {
    width: 100%;
    align-items: center;
    flex-direction: column-reverse;
  }

  .directions__wrapper {
    margin-top: 12px;
  }

  .slider_and_disclaimer {
    margin-top: 12px;
  }
}

/*

LARGE PHONES 

*/

@media (max-width: 500px) {
  .nav__header {
    text-shadow: 2px 2px 0px #fff;
  }
  .nav__bar--links {
    margin-right: 12px;
  }

  .nav__bar--links button {
    font-size: 16px;
  }
  .container {
    padding: 0 12px;
  }
  .nav__header {
    font-size: 24px;
  }

  .nav__bar--link {
    font-size: 16px;
    margin-right: 12px;
  }

  .landing__content {
    height: auto;
    margin-top: 24px;
  }

  .landing__img--wrapper {
    width: 60%;
  }

  .landing__btn {
    font-size: 16px;
  }

  .landing__title,
  .about__header {
    font-size: 24px;
  }

  .landing__para,
  .about__para {
    font-size: 12px;
  }

  .filter__btn {
    font-size: 12px;
    text-align: center;
  }

  .bar__tile {
    padding: 16px;
    height: 200px;
  }

  .bar__header--wrapper {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .bar__info--wrapper,
  .bar__deal--wrapper,
  .bar__name--wrapper,
  .bar__header--wrapper {
    width: 100%;
    text-align: center;
  }

  .bar__info--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 0;
  }

  .bar__title {
    font-size: 48px;
  }

  .bar__name--wrapper p {
    font-size: 12px;
  }

  .bar__deal--wrapper {
    margin: 12px 0 0;
  }

  .bar__deal--wrapper p {
    font-size: 12px;
    width: 100%;
  }

  .bar__page--directions {
    border-color: #2d2de3;
  }

  #bar__page {
    margin: 24px 0;
  }

  .back__btn {
    margin-bottom: 16px;
  }

  .footer__social--link {
    width: 30px;
    height: 30px;
  }

  .footer__social--logo {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    width: 70vw;
  }

  .sustenance__deals--disclaimer {
    font-size: 12px;
  }

  .landing__content {
    flex-direction: column;
    justify-content: flex-end;
  }

  .landing__img--wrapper {
    width: 100%;
  }

  .landing__header {
    width: 100%;
    margin-bottom: 24px;
  }

  .map__img {
    width: 275px;
    height: 275px;
  }

  .footer__item {
    margin: 0 12px;
  }

  .about__para {
    margin: 0 8px;
    width: 45%;
  }
}

/*

SMALL PHONES 

*/

@media (max-width: 450px) {
  .bar__tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 220px;
  }

  .bar__name--wrapper,
  .bar__deal--wrapper {
    width: 100%;
  }

  .filter__btn {
    font-size: 10px;
  }

  .nav__bar--links button {
    font-size: 12px;
  }

  .modal {
    width: 90vw;
  }
}
